force-app/main/default/flows/Generate_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF_Action</name>
        <label>Generate Invoice PDF</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <actionName>InvoicePdfInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>invoiceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Build_Line</name>
        <label>Build Invoice Line</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varLine.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Time_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Service_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Service_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLine.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Default_Hourly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Mark_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mark_Entry</name>
        <label>Mark Entry Invoiced</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varEntry.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEntry.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEntry.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Has_Entries</name>
        <label>Any Entries Found?</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Generate_PDF_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Entries</defaultConnectorLabel>
        <rules>
            <name>Has_Entries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Entries</targetReference>
            </connector>
            <label>Has Entries</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProjectChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Account__c</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Generate Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Invoice</label>
    <loops>
        <name>Loop_Entries</name>
        <label>For Each Time Entry</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Time_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Build_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lines</name>
        <label>Create Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Update_Entries</targetReference>
        </connector>
        <inputReference>collLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Entries</name>
        <label>Get Unbilled Time Entries</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectField</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unbilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Entry__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Entries</name>
        <label>Mark Entries Invoiced</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Generate_PDF_Action</targetReference>
        </connector>
        <inputReference>collEntries</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Select</name>
        <label>Select Project and Period</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <fields>
            <name>ProjectField</name>
            <choiceReferences>ProjectChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Period Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndDate</name>
            <dataType>Date</dataType>
            <fieldText>Period End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Done</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>1370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoneMessage</name>
            <fieldText>&lt;p&gt;Any unbilled time for that project and period has been added as invoice lines. The PDF is being generated and will appear in the Files list on this invoice in a few seconds &amp;mdash; refresh to see it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>collLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>varLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line__c</objectType>
    </variables>
</Flow>
